h1 {
    font-size: 40px;
    text-align: center;
  font-weight: bold;
  color: Purple;
    font-family: Vidaloka, verdana;
}
h3 {
  width: 35%;
}
body {
 background-image:
   url("http://www.ilikewallpaper.net/ipad-air-wallpapers/download/24543/Spring-Pink-Cherry-Blossom-Flare-Nature-ipad-air-wallpaper-ilikewallpaper_com.jpg");
 background-size: cover;
}
.container {
  display: flex;
}

.main {
  width: 65%;
}

.sidebar {
  width: 33%;
  padding: 2%;
}

.photo {
  width: 100%;
}
img {
  border-radius: 15%;
  width: 95%;
  position: relative;
}
 a {
    color: blue;
   text-decoration: none;
  }
